In [1]:
import pandas as pd
import numpy as np

In [2]:
# get 2022 matches
archive_matches_df = pd.read_csv('../../data/raw_data_files/World Cup Data/archive/matches_1930_2022.csv')
matches_2022 = archive_matches_df[archive_matches_df['Year']>=2022]
matches_2022.head()

,home_team,away_team,home_score,home_xg,home_penalty,away_score,away_xg,away_penalty,home_manager,home_captain,...,home_penalty_shootout_miss_long,away_penalty_shootout_miss_long,home_red_card,away_red_card,home_yellow_red_card,away_yellow_red_card,home_yellow_card_long,away_yellow_card_long,home_substitute_in_long,away_substitute_in_long
0,Argentina,France,3,3.3,4.0,3,2.2,2.0,Lionel Scaloni,Lionel Messi,...,NaN,"['3|1:1|Kingsley Coman', '5|2:1|Aurélien Tchou...",NaN,NaN,NaN,NaN,"['45+7&rsquor;|2:0|Enzo Fernández', '90+8&rsqu...","['55&rsquor;|2:0|Adrien Rabiot', '87&rsquor;|2...",['64&rsquor;|2:0|Marcos Acuña|for Ángel Di Mar...,['41&rsquor;|2:0|Randal Kolo Muani|for Ousmane...
1,Croatia,Morocco,2,0.7,NaN,1,1.2,NaN,Zlatko Dalić,Luka Modrić,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['69&rsquor;|2:1|Azzedine Ounahi', '84&rsquor;...",['61&rsquor;|2:1|Nikola Vlašić|for Andrej Kram...,['46&rsquor;|2:1|Ilias Chair|for Abdelhamid Sa...
2,France,Morocco,2,2.0,NaN,0,0.9,NaN,Didier Deschamps,Hugo Lloris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['27&rsquor;|1:0|Sofiane Boufal'],['65&rsquor;|1:0|Marcus Thuram|for Olivier Gir...,['21&rsquor;|1:0|Selim Amallah|for Romain Saïs...
3,Argentina,Croatia,3,2.3,NaN,0,0.5,NaN,Lionel Scaloni,Lionel Messi,...,NaN,NaN,NaN,NaN,NaN,NaN,"['68&rsquor;|2:0|Cristian Romero', '71&rsquor;...","['32&rsquor;|0:0|Mateo Kovačić', '32&rsquor;|0...",['62&rsquor;|2:0|Lisandro Martínez|for Leandro...,"['46&rsquor;|2:0|Mislav Oršić|for Borna Sosa',..."
4,Morocco,Portugal,1,1.4,NaN,0,0.9,NaN,Hoalid Regragui,Romain Saïss,...,NaN,NaN,NaN,NaN,Walid Cheddira · 90+3,NaN,"['70&rsquor;|1:0|Achraf Dari', '90+1&rsquor;|1...",['87&rsquor;|1:0|Vitinha'],['57&rsquor;|1:0|Achraf Dari|for Romain Saïss'...,['51&rsquor;|1:0|João Cancelo|for Raphaël Guer...

In [3]:
matches_2022.columns

Index(['home_team', 'away_team', 'home_score', 'home_xg', 'home_penalty',
       'away_score', 'away_xg', 'away_penalty', 'home_manager', 'home_captain',
       'away_manager', 'away_captain', 'Attendance', 'Venue', 'Officials',
       'Round', 'Date', 'Score', 'Referee', 'Notes', 'Host', 'Year',
       'home_goal', 'away_goal', 'home_goal_long', 'away_goal_long',
       'home_own_goal', 'away_own_goal', 'home_penalty_goal',
       'away_penalty_goal', 'home_penalty_miss_long', 'away_penalty_miss_long',
       'home_penalty_shootout_goal_long', 'away_penalty_shootout_goal_long',
       'home_penalty_shootout_miss_long', 'away_penalty_shootout_miss_long',
       'home_red_card', 'away_red_card', 'home_yellow_red_card',
       'away_yellow_red_card', 'home_yellow_card_long',
       'away_yellow_card_long', 'home_substitute_in_long',
       'away_substitute_in_long'],
      dtype='object')

In [4]:
# get relevant columns, along with scores for shootouts
matches_2022 = matches_2022[['home_team', 'away_team', 'home_score', 'away_score', 'Round', 'Date', 
'Score', 'Host', 'Year', 'home_penalty_shootout_goal_long', 'away_penalty_shootout_goal_long']]\
    .assign(home_penalty_shootout_goal_long=lambda x: x['home_penalty_shootout_goal_long'].str.split(',').str.len(), 
            away_penalty_shootout_goal_long=lambda x: x['away_penalty_shootout_goal_long'].str.split(',').str.len())\
                .rename(columns={'home_penalty_shootout_goal_long':'home_shootout', 
                                 'away_penalty_shootout_goal_long':'away_shootout'})

matches_2022 = matches_2022.rename(columns={'Round':'Stage', 'Host':'Host Team', 'home_team':'Home Team', 
                                            'away_team':'Away Team', 'home_score':'Home Goals', 'away_score':'Away Goals'})

matches_2022

,Home Team,Away Team,Home Goals,Away Goals,Stage,Date,Score,Host Team,Year,home_shootout,away_shootout
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022,4.0,2.0
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022,NaN,NaN
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022,NaN,NaN
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022,NaN,NaN
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,France,Australia,4,1,Group stage,2022-11-22,4–1,Qatar,2022,NaN,NaN
60,England,IR Iran,6,2,Group stage,2022-11-21,6–2,Qatar,2022,NaN,NaN
61,Senegal,Netherlands,0,2,Group stage,2022-11-21,0–2,Qatar,2022,NaN,NaN
62,United States,Wales,1,1,Group stage,2022-11-21,1–1,Qatar,2022,NaN,NaN
63,Qatar,Ecuador,0,2,Group stage,2022-11-20,0–2,Qatar,2022,NaN,NaN

In [5]:
# reformat data into team, away/home, opponent, stage, date, goals_scored, goals_conceded, shootout_status
home_df = matches_2022.assign(
    team=matches_2022['Home Team'],
    home_away='home',
    opponent=matches_2022['Away Team'],
    goals_scored=matches_2022['Home Goals'],
    goals_conceded=matches_2022['Away Goals'],
    shootout_status=lambda d: np.where(
        d['home_shootout'].isna() & d['away_shootout'].isna(),
        np.nan,
        (d['home_shootout'].fillna(0) > d['away_shootout'].fillna(0)).astype(int)
    )
)[['team', 'home_away', 'opponent', 'Stage', 'Date', 'goals_scored', 'goals_conceded', 'shootout_status']]

away_df = matches_2022.assign(
    team=matches_2022['Away Team'],
    home_away='away',
    opponent=matches_2022['Home Team'],
    goals_scored=matches_2022['Away Goals'],
    goals_conceded=matches_2022['Home Goals'],
    shootout_status=lambda d: np.where(
        d['home_shootout'].isna() & d['away_shootout'].isna(),
        np.nan,
        (d['away_shootout'].fillna(0) > d['home_shootout'].fillna(0)).astype(int)
    )
)[['team', 'home_away', 'opponent', 'Stage', 'Date', 'goals_scored', 'goals_conceded', 'shootout_status']]

reshaped_df = pd.concat([home_df, away_df], ignore_index=True).reset_index(drop=True)
reshaped_df.head()

,team,home_away,opponent,Stage,Date,goals_scored,goals_conceded,shootout_status
0,Argentina,home,France,Final,2022-12-18,3,3,1.0
1,Croatia,home,Morocco,Third-place match,2022-12-17,2,1,NaN
2,France,home,Morocco,Semi-finals,2022-12-14,2,0,NaN
3,Argentina,home,Croatia,Semi-finals,2022-12-13,3,0,NaN
4,Morocco,home,Portugal,Quarter-finals,2022-12-10,1,0,NaN

In [6]:
# get outcome of match
reshaped_df['win'] = np.where(
    (reshaped_df['goals_scored'] > reshaped_df['goals_conceded']) | (reshaped_df['shootout_status'] == 1),
    1,
    np.where(
        (reshaped_df['goals_scored'] < reshaped_df['goals_conceded']) | (reshaped_df['shootout_status'] == 0),
        0,
        0  # draw but no shootout -> 0
    )
)

reshaped_df.head()

,team,home_away,opponent,Stage,Date,goals_scored,goals_conceded,shootout_status,win
0,Argentina,home,France,Final,2022-12-18,3,3,1.0,1
1,Croatia,home,Morocco,Third-place match,2022-12-17,2,1,NaN,1
2,France,home,Morocco,Semi-finals,2022-12-14,2,0,NaN,1
3,Argentina,home,Croatia,Semi-finals,2022-12-13,3,0,NaN,1
4,Morocco,home,Portugal,Quarter-finals,2022-12-10,1,0,NaN,1

In [7]:
# get max stage reached
stage_order = {'Group stage':1, 'Round of 16':2, 'Quarter-finals':3}
reshaped_df['stage_numeric'] = np.where(
    (reshaped_df['Stage']=='Final') & (reshaped_df['win']==1),
    7,
    np.where(
        (reshaped_df['Stage']=='Final') & (reshaped_df['win']==0),
        6,
        np.where(
            (reshaped_df['Stage']=='Third-place match') & (reshaped_df['win']==1),
            5,
            np.where(
                (reshaped_df['Stage']=='Third-place match') & (reshaped_df['win']==0),
                4,
                reshaped_df['Stage'].map(stage_order)
            )
        )
    )
)
reshaped_df.head()

,team,home_away,opponent,Stage,Date,goals_scored,goals_conceded,shootout_status,win,stage_numeric
0,Argentina,home,France,Final,2022-12-18,3,3,1.0,1,7.0
1,Croatia,home,Morocco,Third-place match,2022-12-17,2,1,NaN,1,5.0
2,France,home,Morocco,Semi-finals,2022-12-14,2,0,NaN,1,NaN
3,Argentina,home,Croatia,Semi-finals,2022-12-13,3,0,NaN,1,NaN
4,Morocco,home,Portugal,Quarter-finals,2022-12-10,1,0,NaN,1,3.0

In [8]:
# summarize values by team
df_2022 = reshaped_df.groupby('team').agg(
    max_stage_numeric=('stage_numeric', 'max'),
    matches_played=('opponent', 'count'),
    matches_won=('win', 'sum'),
    goals_for=('goals_scored', 'sum'),
    goals_against=('goals_conceded', 'sum')
).reset_index()

In [9]:
 # merge with original df to get back win status
df_2022 = df_2022.merge(reshaped_df[['team', 'stage_numeric', 'win']], left_on=['team', 'max_stage_numeric'], right_on=['team', 'stage_numeric'])
df_2022.head()

,team,max_stage_numeric,matches_played,matches_won,goals_for,goals_against,stage_numeric,win
0,Argentina,7.0,7,6,15,8,7.0,1
1,Australia,2.0,4,2,4,6,2.0,0
2,Belgium,1.0,3,1,1,2,1.0,0
3,Belgium,1.0,3,1,1,2,1.0,1
4,Belgium,1.0,3,1,1,2,1.0,0

In [10]:
# retrieve max_stage_reached in words
df_2022['max_stage'] = np.where(
    df_2022['max_stage_numeric']==7, 
    'Winner',
    np.where(df_2022['max_stage_numeric']==6,
    'Runners-up',
    np.where(df_2022['max_stage_numeric']==5,
    'Third place',
    np.where(df_2022['max_stage_numeric']==4,
    'Fourth place',
    np.where(df_2022['max_stage_numeric']==3,
    'Quarter-finals',
    np.where(df_2022['max_stage_numeric']==2,
    'Round of 16',
    'Group stage'))))))

df_2022 = df_2022.drop(columns=['win', 'stage_numeric']).drop_duplicates().reset_index(drop=True)

In [ ]:
def preprocess_year_data(year):
    """
        Processes the World Cup match data for a given year and summarizes, for each team, the max stage of World Cup reached,
        the total number of matches played, the total number of matches won, the total number of goals for and against the team.

        Args:
            year (int): Year of the World Cup of interest.
        
        Returns:
            df_by_year (pd.DataFrame): DataFrame containing summarized data for every qualified team in a given World Cup year,
                including the max stage of World Cup reached, the total number of matches played, the total number of matches won, 
                the total number of goals for and against the team.
    """
    # get year's matches
    archive_matches_df = pd.read_csv('../../data/raw_data_files/World Cup Data/archive/matches_1930_2022.csv')
    matches = archive_matches_df[archive_matches_df['Year']==year]

    # get relevant columns, along with scores for shootouts
    matches = matches[['home_team', 'away_team', 'home_score', 'away_score', 'Round', 'Date', 
    'Score', 'Host', 'Year', 'home_penalty_shootout_goal_long', 'away_penalty_shootout_goal_long']]\
        .assign(home_penalty_shootout_goal_long=lambda x: x['home_penalty_shootout_goal_long'].str.split(',').str.len(), 
                away_penalty_shootout_goal_long=lambda x: x['away_penalty_shootout_goal_long'].str.split(',').str.len())\
                    .rename(columns={'home_penalty_shootout_goal_long':'home_shootout', 
                                    'away_penalty_shootout_goal_long':'away_shootout'})
    # rename columns
    matches = matches.rename(columns={'Round':'Stage', 'Host':'Host Team', 'home_team':'Home Team', 
                                                'away_team':'Away Team', 'home_score':'Home Goals', 'away_score':'Away Goals'})

    # reformat data into team, away/home, opponent, stage, date, goals_scored, goals_conceded, shootout_status
    home_df = matches.assign(
        team=matches['Home Team'],
        home_away='home',
        opponent=matches['Away Team'],
        goals_scored=matches['Home Goals'],
        goals_conceded=matches['Away Goals'],
        shootout_status=lambda d: np.where(
            d['home_shootout'].isna() & d['away_shootout'].isna(),
            np.nan,
            (d['home_shootout'].fillna(0) > d['away_shootout'].fillna(0)).astype(int)
        )
    )[['team', 'home_away', 'opponent', 'Stage', 'Date', 'goals_scored', 'goals_conceded', 'shootout_status']]

    away_df = matches.assign(
        team=matches['Away Team'],
        home_away='away',
        opponent=matches['Home Team'],
        goals_scored=matches['Away Goals'],
        goals_conceded=matches['Home Goals'],
        shootout_status=lambda d: np.where(
            d['home_shootout'].isna() & d['away_shootout'].isna(),
            np.nan,
            (d['away_shootout'].fillna(0) > d['home_shootout'].fillna(0)).astype(int)
        )
    )[['team', 'home_away', 'opponent', 'Stage', 'Date', 'goals_scored', 'goals_conceded', 'shootout_status']]

    reshaped_df = pd.concat([home_df, away_df], ignore_index=True).reset_index(drop=True)

    # get outcome of match
    reshaped_df['win'] = np.where(
        (reshaped_df['goals_scored'] > reshaped_df['goals_conceded']) | (reshaped_df['shootout_status'] == 1),
        1,
        np.where(
            (reshaped_df['goals_scored'] < reshaped_df['goals_conceded']) | (reshaped_df['shootout_status'] == 0),
            0,
            0  # draw but no shootout -> 0
        )
    )

    # get max stage reached
    stage_order = {'Group stage':1, 'Round of 16':2, 'Quarter-finals':3}
    reshaped_df['stage_numeric'] = np.where(
        (reshaped_df['Stage']=='Final') & (reshaped_df['win']==1),
        7,
        np.where(
            (reshaped_df['Stage']=='Final') & (reshaped_df['win']==0),
            6,
            np.where(
                (reshaped_df['Stage']=='Third-place match') & (reshaped_df['win']==1),
                5,
                np.where(
                    (reshaped_df['Stage']=='Third-place match') & (reshaped_df['win']==0),
                    4,
                    reshaped_df['Stage'].map(stage_order)
                )
            )
        )
    )

    # summarize values by team
    df_by_year = reshaped_df.groupby('team').agg(
        max_stage_numeric=('stage_numeric', 'max'),
        matches_played=('opponent', 'count'),
        matches_won=('win', 'sum'),
        goals_for=('goals_scored', 'sum'),
        goals_against=('goals_conceded', 'sum')
    ).reset_index()

    # merge with original df to get back win status
    df_by_year = df_by_year.merge(
        reshaped_df[['team', 'stage_numeric', 'win']], left_on=['team', 'max_stage_numeric'], right_on=['team', 'stage_numeric']
    )

    # retrieve max_stage_reached in words
    df_by_year['max_stage'] = np.where(
        df_by_year['max_stage_numeric']==7, 
        'Winner',
        np.where(df_by_year['max_stage_numeric']==6,
        'Runners-up',
        np.where(df_by_year['max_stage_numeric']==5,
        'Third place',
        np.where(df_by_year['max_stage_numeric']==4,
        'Fourth place',
        np.where(df_by_year['max_stage_numeric']==3,
        'Quarter-finals',
        np.where(df_by_year['max_stage_numeric']==2,
        'Round of 16',
        'Group stage'))))))

    df_by_year = df_by_year.drop(columns=['win', 'stage_numeric']).drop_duplicates().reset_index(drop=True)
    
    return df_by_year

In [12]:
preprocess_year_data(2022).head()

,team,max_stage_numeric,matches_played,matches_won,goals_for,goals_against,max_stage
0,Argentina,7.0,7,6,15,8,Winner
1,Australia,2.0,4,2,4,6,Round of 16
2,Belgium,1.0,3,1,1,2,Group stage
3,Brazil,3.0,5,3,8,3,Quarter-finals
4,Cameroon,1.0,3,1,4,4,Group stage

In [13]:
# verify function works as expected
df_2022.equals(preprocess_year_data(2022))

True

In [14]:
all_countries_ao2022 = pd.read_csv('../../data/raw_data_files/World Cup Data/archive/fifa_ranking_2022-10-06.csv')
all_countries_ao2022['team'] = all_countries_ao2022['team'].replace({'USA': 'United States'})
all_countries_ao2022['team'].unique()

array(['Brazil', 'Belgium', 'Argentina', 'France', 'England', 'Italy',
       'Spain', 'Netherlands', 'Portugal', 'Denmark', 'Germany',
       'Croatia', 'Mexico', 'Uruguay', 'Switzerland', 'United States',
       'Colombia', 'Senegal', 'Wales', 'IR Iran', 'Serbia', 'Morocco',
       'Peru', 'Japan', 'Sweden', 'Poland', 'Ukraine', 'Korea Republic',
       'Chile', 'Tunisia', 'Costa Rica', 'Nigeria', 'Russia', 'Austria',
       'Czechia', 'Hungary', 'Algeria', 'Australia', 'Egypt', 'Scotland',
       'Canada', 'Norway', 'Cameroon', 'Ecuador', 'Türkiye', 'Mali',
       'Paraguay', "Côte d'Ivoire", 'Republic of Ireland', 'Qatar',
       'Saudi Arabia', 'Greece', 'Romania', 'Burkina Faso', 'Slovakia',
       'Finland', 'Venezuela', 'Bosnia and Herzegovina',
       'Northern Ireland', 'Panama', 'Ghana', 'Iceland', 'Slovenia',
       'Jamaica', 'North Macedonia', 'Albania', 'South Africa', 'Iraq',
       'Montenegro', 'United Arab Emirates', 'Cabo Verde', 'Bulgaria',
       'Congo DR', 'El Salvador', 'Oman', 'Israel', 'Uzbekistan',
       'Georgia', 'China PR', 'Honduras', 'Gabon', 'Bolivia', 'Guinea',
       'Jordan', 'Bahrain', 'Curaçao', 'Haiti', 'Zambia', 'Uganda',
       'Syria', 'Benin', 'Luxembourg', 'Armenia', 'Palestine',
       'Kyrgyz Republic', 'Vietnam', 'Belarus', 'Equatorial Guinea',
       'Lebanon', 'Congo', 'Kenya', 'Madagascar', 'Mauritania',
       'Trinidad and Tobago', 'New Zealand', 'India', 'Kosovo',
       'Tajikistan', 'Estonia', 'Cyprus', 'Thailand', 'Korea DPR',
       'Kazakhstan', 'Mozambique', 'Namibia', 'Guinea-Bissau',
       'Sierra Leone', 'Guatemala', 'Angola', 'Libya', 'Niger',
       'Faroe Islands', 'Azerbaijan', 'Malawi', 'Zimbabwe', 'The Gambia',
       'Togo', 'Sudan', 'Comoros', 'Tanzania', 'Antigua and Barbuda',
       'Central African Republic', 'Philippines', 'Latvia',
       'Turkmenistan', 'Solomon Islands', 'Rwanda', 'Ethiopia',
       'Suriname', 'St Kitts and Nevis', 'Burundi', 'Nicaragua',
       'Eswatini', 'Lithuania', 'Hong Kong', 'Malaysia', 'Lesotho',
       'Botswana', 'Kuwait', 'Liberia', 'Andorra', 'Indonesia',
       'Dominican Republic', 'Maldives', 'Yemen', 'Afghanistan',
       'Chinese Taipei', 'Myanmar', 'Papua New Guinea', 'Singapore',
       'New Caledonia', 'Tahiti', 'Fiji', 'Vanuatu', 'South Sudan',
       'Barbados', 'Cuba', 'Malta', 'Bermuda', 'Puerto Rico', 'Guyana',
       'St Lucia', 'Grenada', 'Moldova', 'Nepal', 'Belize', 'Cambodia',
       'St Vincent and the Grenadines', 'Montserrat', 'Mauritius', 'Chad',
       'Macau', 'Mongolia', 'Dominica', 'Bhutan', 'São Tomé and Príncipe',
       'Laos', 'American Samoa', 'Cook Islands', 'Brunei Darussalam',
       'Samoa', 'Bangladesh', 'Djibouti', 'Pakistan', 'Cayman Islands',
       'Liechtenstein', 'Tonga', 'Timor-Leste', 'Seychelles', 'Eritrea',
       'Aruba', 'Bahamas', 'Somalia', 'Gibraltar', 'Guam',
       'Turks and Caicos Islands', 'Sri Lanka', 'US Virgin Islands',
       'British Virgin Islands', 'Anguilla', 'San Marino'], dtype=object)

In [15]:
# check that all teams from world cup are in (with correct names)
set(df_2022['team'].unique()) - set(all_countries_ao2022['team'].unique())

set()

In [16]:
all_countries_ao2022 = all_countries_ao2022[~all_countries_ao2022['team'].isin(set(df_2022['team'].unique()))][['team']]

# include countries that did not qualify
final_2022_df = pd.concat([preprocess_year_data(2022), all_countries_ao2022], ignore_index=True)
final_2022_df['max_stage'] = final_2022_df['max_stage'].fillna('Did not qualify')
final_2022_df = final_2022_df.fillna(0)

# check for missing values
final_2022_df[final_2022_df.isna().any(axis=1)]

Empty DataFrame
Columns: [team, max_stage_numeric, matches_played, matches_won, goals_for, goals_against, max_stage]
Index: []

In [17]:
# add relevant columns
final_2022_df['world_cup_year'] = 2022
final_2022_df['host_country'] = 'Qatar'
final_2022_df.head()

,team,max_stage_numeric,matches_played,matches_won,goals_for,goals_against,max_stage,world_cup_year,host_country
0,Argentina,7.0,7.0,6.0,15.0,8.0,Winner,2022,Qatar
1,Australia,2.0,4.0,2.0,4.0,6.0,Round of 16,2022,Qatar
2,Belgium,1.0,3.0,1.0,1.0,2.0,Group stage,2022,Qatar
3,Brazil,3.0,5.0,3.0,8.0,3.0,Quarter-finals,2022,Qatar
4,Cameroon,1.0,3.0,1.0,4.0,4.0,Group stage,2022,Qatar

In [18]:
perf_df = pd.read_csv('../../data/created_datasets/world_cup/performance_by_world_cup_and_team.csv')

In [19]:
final_df = pd.concat([perf_df, final_2022_df], ignore_index=True)
final_df.head()

,world_cup_year,host_country,team,max_stage,max_stage_numeric,matches_played,matches_won,goals_for,goals_against
0,1986,Mexico,Algeria,Group stage,1.0,3.0,0.0,1.0,5.0
1,1990,Italy,Algeria,Did not qualify,0.0,0.0,0.0,0.0,0.0
2,1994,USA,Algeria,Did not qualify,0.0,0.0,0.0,0.0,0.0
3,1998,France,Algeria,Did not qualify,0.0,0.0,0.0,0.0,0.0
4,2002,Korea/Japan,Algeria,Did not qualify,0.0,0.0,0.0,0.0,0.0

In [20]:
# export data
final_df.to_csv('../../data/created_datasets/world_cup/perf_by_wc_team_incl2022.csv', index=False)

In [21]:
# verify with existing data
perf_df = pd.read_csv('../../data/created_datasets/world_cup/performance_by_world_cup_and_team.csv')
perf_df.head()

,world_cup_year,host_country,team,max_stage,max_stage_numeric,matches_played,matches_won,goals_for,goals_against
0,1986,Mexico,Algeria,Group stage,1.0,3.0,0.0,1,5
1,1990,Italy,Algeria,Did not qualify,0.0,0.0,0.0,0,0
2,1994,USA,Algeria,Did not qualify,0.0,0.0,0.0,0,0
3,1998,France,Algeria,Did not qualify,0.0,0.0,0.0,0,0
4,2002,Korea/Japan,Algeria,Did not qualify,0.0,0.0,0.0,0,0

In [22]:
df1 = perf_df[(perf_df['max_stage']!='Did not qualify') & (perf_df['world_cup_year']==2018)]
df2 = preprocess_year_data(2018).replace({'team': {'IR Iran':'Iran', 'Korea Republic':'South Korea'}})\
        .assign(world_cup_year=2018, host_country='Russia')[perf_df.columns]

df1_sorted = df1.sort_values(by=df1.columns.tolist()).reset_index(drop=True)
df2_sorted = df2.sort_values(by=df2.columns.tolist()).reset_index(drop=True)

df1_sorted.equals(df2_sorted.astype(df1_sorted.dtypes.to_dict()))

True